


*{
    color:black;
    text-decoration: none;
    font-style: normal;
    margin: 0px;
    background-color: none;

 }
 

.section-header{
    text-align: center;
    display: block;
}

#wrapper{
    /* margin-left: 10px ; */
    cursor: pointer;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: grey;
    font-family: 'Poppins', sans-serif;
    
}
.nav-links{
display: flex;
justify-content: space-around;
width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
   
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-left: 50px;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
}
.nav-links li a:hover {
    padding: 5px;
    color: red;
    background-color: black;
    
}

.burger{
    display: none;
    cursor: pointer;
}
.burger div{
width: 25px;
height: 3px;
background-color: black;
margin: 5px;
transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    
    .nav-links{
        width: 60%;
        }
}

@media screen and (max-width:768px){
    
    .body{
        
        overflow-x: hidden;
    }
  .nav-links{
      position: absolute;
      right:  0px;
      height: 92vh;
      top: 8vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;
      background-color: grey;
      transform: translateX(-500%);
      transition:transform 0.5s ease-in ;
      overflow-x: hidden;
      z-index: 11;

     

    }
    .nav-links li
    {
        opacity: 0;
    }
    .burger
    {
        display: block;
    }

    .headii{
        font-size: 40px;
    }

    .sugg-heading{
        /* display: inline; */
        /* width: 100%; */
        text-align: center;
        font-size: 1.5em;
        color: #333;
        margin: 15px;
        padding: 20px;
        float: none;
        line-height: 2em;
    }
    .text{
        font-size: 1.5em;
    }

}   

.nav-active{
    
    transform: translateX(0%);
}


@keyframes navLinksFade{
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
   opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}




 
.top{
    background-color: grey;
    padding-bottom: 20px;
    color: white;
}



h1{
    text-align: center;
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    font-size: 4em;
}

h2{
    text-align: center;
    font-family: "";
    font-weight: normal;
    color: #333;
    font-size: 2em;
}

 .content-section {
    margin: 1em;
} 

.container {
    max-width: 900px;
    margin: 0 1.5em;
     margin-left: 10%;
    padding: 0 1.5em;
    /* display: inline-block;  */
     box-align: center;
    text-align: center;
    align-content: center;  
} 

.column1{
    display: inline-block;
    width: 200px;
    margin: 30px;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 5px;   
    
}


/* 
.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
} */
.btn:hover
{
    box-shadow: 2px 2px 3px 5px rgba(192, 137, 35, 0.5);
}
img{
    border-radius: 5px;
}
a:hover {
    background-color: goldenrod;
  }

  .shop-items{
      margin-top: 20px;

  }

.item-title{
   
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}
.item-price{
       
    display:inline-block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-top: 15px;
}

.btn-primary {
    color: white;
    background-color: rgb(248, 138, 12);
    border: none;
    border-radius: .3em;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    align-items: center;
    margin-left: 2em;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: #333;
    margin-top: 15px;
}
.btn-primary:hover{
    background-color: rgb(160, 98, 5);
}
 
  .heading2{
      text-align: left;
  }

.figcaption{
font-size: large;
}


.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}


.btn-danger {
    color: white;
    background-color: rgb(231, 44, 44);
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: rgb(131, 29, 29);
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
} 

.cart-row:last-child .cart-column {
    border: none;
} 

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
} 

.contact form {
    height: 100%;
    width: 100%;
    
 
}

        /* CONTACT ME */
.contact  {
    margin-top: 100px;
    text-align: center;
    background-color:burlywood;    
}
.contact .box h1{
    padding: 30px;
    font-size: 32px;
    line-height: 10px;
}
form{
    margin-top:50px ;
}
.form-control{
   width: 60%;
   background: transparent;
   border: none;
   outline: none;
   border-bottom: 1px solid rgb(255, 0, 0);
   color:black;
   font-size: 18px;
   margin-bottom: 16px;
}
input{
    height: 45px;
}
 .box .btn{
    background-color: coral;
    border-color: transparent;
    color:black;
    font-size: 20px;
    letter-spacing: 2px;
    display: block;
    width: 60%;
    margin-left: 20%;
    height: 50px;
    margin-top:20px ;
    transition: 0.4s ease;
  
}
.contact .box  .btn:hover{
    background-color: chartreuse;
    cursor: pointer;
}



/* @media screen and (max-width:768px){
    
    .body{
        
        overflow-x: hidden;
    }
  .nav-links{
      position: absolute;
      right:  0px;
      height: 92vh;
      top: 8vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;
      background-color: honeydew;
      transform: translateX(100%);
      transition:transform 0.5s ease-in ;
      overflow-x: hidden;
      z-index: 11;
     

    }
    .nav-links li
    {
        opacity: 0;
    }
    .burger
    {
        display: block;
    }
}   

.nav-active{
    transform: translateX(0%);
}


@keyframes navLinksFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
   opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
} */